<h2>Game History</h2>
<div class="row">
    <label class="col-sm-2">User</label>
    <div class="col-sm-6">
        {{game.user_name}}
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Date</label>
    <div class="col-sm-6">
        {{game.date}}
    </div>
</div>
<div class="row">
    <label class="col-sm-2">Score</label>
    <div class="col-sm-6">
        {{game.score}}
    </div>
</div>
<table>
    <tr>
        <th>Level</th>
        <th>Guess</th>
        <th>Guessed Word</th>
        <th>Correct?</th>
    </tr>
    <tr ng-repeat="move in game.moves">
        <td>{{move.level}}</td>
        <td>{{move.guess}}</td>
        <td>{{move.guessed_word}}</td>
        <td>{{move.result}}</td>
    </tr>
</table>