<h2>Game History</h2>
<div>
    <label>User</label>
    {{game.user_name}}
<div>
<div>
    <label>Date</label>
    {{game.date}}
<div>
<div>
    <label>Score</label>
    {{game.score}}
<div>
<table>
    <tr>
        <th>Level</th>
        <th>Guessed Word</th>
        <th>Guess</th>
        <th>Correct?</th>
    </tr>
    <tr ng-repeat="move in game.moves">
        <td>{{move.level}}</td>
        <td>{{move.guessed_word}}</td>
        <td>{{move.guess}}</td>
        <td>{{move.result}}</td>
    </tr>
</table>