<form class="form-horizontal" ng-submit="play(user_name, email)">
    <h2>New Game</h2>
    <div class="form-group">
        <label class="control-label col-sm-3" for="user_name">User Name:</label>
        <div class="col-sm-6">
            <input id="user_name" ng-model="user_name" required class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="email">Email Address:</label>
        <div class="col-sm-6">
            <input id="email" ng-model="email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <input type="submit" class="btn-lg" value="Play" />
        </div>
    </div>
</form>